*{
  display: none;
}
th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: black;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
  border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	padding:12px;
	background: #CAE8EA;
}
td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
  border-left: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: black;
}
.tabla{
 padding-top: 20px;
 padding-bottom: 20px;
}
.last{
 margin-bottom: 15px;

}
.submit{
 margin-bottom: 15px;

}
